<div class="row w-75 mx-auto align-items-center vh-80">

    <div class="w-100">

        <h4 class="py-2">Please Enter Your Email And The New Password</h4>

        <div *ngIf="apiError.length > 0" class="alert alert-danger">{{apiError}}</div>

        <form [formGroup]="resetPassword" (ngSubmit)="handleresetPassword(resetPassword)">
    
            <label for="email">Email:</label>
            <input type="email" class="form-control mb-2" id="email" formControlName="email" />
            <div *ngIf="resetPassword.get('email')?.errors && resetPassword.get('email')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="resetPassword.get('email')?.getError('required')">Email Is Required</p>
                <p class="m-0" *ngIf="resetPassword.get('email')?.getError('email')">It's Must Be A Valid Email</p>
            </div>

            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control mb-2" id="newPassword" formControlName="newPassword" />
            <div *ngIf="resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="resetPassword.get('newPassword')?.getError('required')">New Password Is Required</p>
                <p class="m-0" *ngIf="resetPassword.get('newPassword')?.getError('pattern')">It's Must Be Start With Capital Letter And MinLength Is 6 And MaxLength Is 50</p>
            </div>

            <button [disabled]="resetPassword.invalid" type="submit" class="btn d-block bg-main me-auto text-white">
    
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading">Update Password</span>
    
            </button>

        </form>

    </div>

</div>