<div class="bg-main-light">

    <div class="container">

        <div class="py-4">
            <h4 class="fw-medium">Get The FreshCart App</h4>
            <p class="text-muted">We Will Send You A Link, Open It On Your Phone To Download The App</p>
            <div class="row g-2 justify-content-between align-items-center py-3">
                <div class="col-md-8">
                    <input type="email" placeholder="Email ..." class="form-control w-100" />
                </div>
                <div class="col-md-4 align-self-end d-flex justify-content-md-end justify-content-start">
                    <button (click)="welcome()" class="btn bg-main text-white">Share App Link</button>
                </div>
            </div>
        </div>

        <hr class="m-0" />

        <div class="row justify-content-between gy-md-0 gy-3 align-items-center py-4">

            <div class="pt-2 col-md-7 row justify-content-center justify-content-md-start align-items-center">
                <p class="m-0 col-md-12 col-sm-3 col-12 text-center pe-2 fw-bold">Payment Partners</p>
                <div class="col-md-12 col-sm-9 col-12 gx-md-0 gx-2 row justify-content-md-between justify-content-start align-items-center">
                    <div class="col-md-3 col-6 d-flex justify-content-md-between justify-content-center align-items-center">
                        <img [src]="american" alt="american-express" height="80" width="80" />
                    </div>
                    <div class="col-md-3 col-6 d-flex justify-content-md-between justify-content-center align-items-center">
                        <img [src]="amazonPay" alt="amazon-pay" height="50" width="90" class="ms-2" />
                    </div>
                    <div class="col-md-3 col-6  d-flex justify-content-md-between justify-content-center align-items-center">
                        <img [src]="masterCard" alt="masterCard" height="40" width="90" />
                    </div>
                    <div class="col-md-3 col-6 d-flex justify-content-md-between justify-content-center align-items-center">
                        <img [src]="paypal" alt="paypal" height="40" width="90" />
                    </div>
                </div>
            </div>


            <div class="pt-2 col-md-5 row justify-content-md-end justify-content-center align-items-center">
                <p class="m-0 col-md-12 col-sm-3 col-12 text-center pe-2 fw-bold">Get Deliveries With FreshCart</p>
                <div class="py-1 col-md-12 col-sm-9 col-12 gx-md-0 gx-2 row justify-content-md-center justify-content-start align-items-center">
                    <div class="py-3 col-6 d-flex justify-content-center align-items-center">
                        <img [src]="appStore" alt="appStore" height="40" width="100" />
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <img [src]="googlePlay" alt="googlePlay" height="40" width="100" />
                    </div>
                </div>
            </div>
        </div>

        <hr class="m-0" />

        <p class="m-0 text-center py-4">All Rights Reserved © 2023</p>

    </div>

</div>