<div class="row w-75 mx-auto align-items-center vh-80">

    <div class="w-100">

        <h4 class="py-2">Change Your Password</h4>

        <div *ngIf="apiError.length > 0" class="alert alert-danger">{{apiError}}</div>
        <div *ngIf="sucessChangePassword.length > 0" class="alert alert-success">{{sucessChangePassword}}</div>

        <form (ngSubmit)="handleChangeMyPassword(changeMyPassword)" [formGroup]="changeMyPassword" >

            <label for="currentPassword">Current Password:</label>
            <input type="password" class="form-control mb-2" id="currentPassword" formControlName="currentPassword" />
            <div *ngIf="changeMyPassword.get('currentPassword')?.errors && changeMyPassword.get('currentPassword')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="changeMyPassword.get('currentPassword')?.getError('required')">Current Password Is Required</p>
                <p class="m-0" *ngIf="changeMyPassword.get('currentPassword')?.getError('pattern')">It's Must Be Start With Capital Letter And MinLength Is 6 And MaxLength Is 50</p>
            </div>

            <label for="password">New Password:</label>
            <input type="password" class="form-control mb-2" id="password" formControlName="password" />
            <div *ngIf="changeMyPassword.get('password')?.errors && changeMyPassword.get('password')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="changeMyPassword.get('password')?.getError('required')">New Password Is Required</p>
                <p class="m-0" *ngIf="changeMyPassword.get('password')?.getError('pattern')">It's Must Be Start With Capital Letter And MinLength Is 6 And MaxLength Is 50</p>
            </div>


            <label for="rePassword">New rePassword:</label>
            <input type="password" class="form-control mb-2" id="rePassword" formControlName="rePassword" />
            <div *ngIf="changeMyPassword.get('rePassword')?.errors && changeMyPassword.get('rePassword')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="changeMyPassword.get('rePassword')?.getError('required')">New rePassword Is Required</p>
                <p class="m-0" *ngIf="changeMyPassword.get('rePassword')?.getError('pattern')">It's Must Be Start With Capital Letter And MinLength Is 6 And MaxLength Is 50</p>
                <p class="m-0" *ngIf="changeMyPassword.get('rePassword')?.getError('matching')">New Password and New rePassword Doesn't Match</p>
            </div>

            <button [disabled]="changeMyPassword.invalid" type="submit" class="btn d-block bg-main me-auto text-white">
    
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading">Change Password</span>
    
            </button>

        </form>

    </div>

</div>