<div class="w-75 mx-auto d-flex justify-content-center align-items-center vh-90">

    <div class="w-100">

        <h3 class="py-3">Shipping Address</h3>
        <form [formGroup]="shippingAddress" (ngSubmit)="handleSubmit(shippingAddress)">

            <label for="details">Details:</label>
            <input type="text" formControlName="details" alt="details" class="form-control mb-2" id="details" />
            <div *ngIf="shippingAddress.get('details')?.errors && shippingAddress.get('details')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="shippingAddress.get('details')?.getError('required')">Details Is Required</p>
            </div>

            <label for="phone">Phone:</label>
            <input type="tel" formControlName="phone" alt="phone" class="form-control mb-2" id="phone" />
            <div *ngIf="shippingAddress.get('phone')?.errors && shippingAddress.get('phone')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="shippingAddress.get('phone')?.getError('required')">Phone Is Required</p>
                <p class="m-0" *ngIf="shippingAddress.get('phone')?.getError('pattern')">It's Must Be Valid Egyption Number</p>
            </div>

            <label for="city">City:</label>
            <input type="text" formControlName="city" alt="city" class="form-control mb-2" id="city" />
            <div *ngIf="shippingAddress.get('city')?.errors && shippingAddress.get('city')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="shippingAddress.get('city')?.getError('required')">City Is Required</p>
                <p class="m-0" *ngIf="shippingAddress.get('city')?.getError('minlength')">MinLength Of City Is 3</p>
                <p class="m-0" *ngIf="shippingAddress.get('city')?.getError('maxlength')">MaxLength Of City Is 20</p>
            </div>

            <button [disabled]="shippingAddress.invalid" type="submit" class="btn bg-main text-white">Pay Now</button>
        </form>

    </div>

</div>