<div class="row w-75 mx-auto align-items-center vh-80">

    <div class="w-100">

        <h4 class="py-2">Please Enter Your Email Address To Send Code</h4>

        <div *ngIf="apiError.length > 0" class="alert alert-danger">{{apiError}}</div>

        <form [formGroup]="ForgetPassword" (ngSubmit)="handleForgetPassword(ForgetPassword)">
    
            <label for="email">Email:</label>
            <input type="email" class="form-control mb-2" id="email" formControlName="email" />
            <div *ngIf="ForgetPassword.get('email')?.errors && ForgetPassword.get('email')?.touched" class="alert alert-danger">
                <p class="m-0" *ngIf="ForgetPassword.get('email')?.getError('required')">Email Is Required</p>
                <p class="m-0" *ngIf="ForgetPassword.get('email')?.getError('email')">It's Must Be Valid Email</p>
            </div>

            <button [disabled]="ForgetPassword.invalid" type="submit" class="btn d-block bg-main me-auto text-white">
    
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading">Send Code</span>
    
            </button>

        </form>

    </div>

</div>